body{
    background-color:rgb(136, 155, 220);
}

h1{
    text-align: center;
    color: rgb(49, 49, 172);
}

form{
    background-color: aliceblue;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    width:400px;
    margin:auto;
}
